body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6200ea;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}

nav {
  background-color: #3700b3;
  color: #ffffff;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #ffffff;
  border-bottom: 1px solid transparent; /* Añadir una línea debajo de los enlaces */
  transition: transform 0.2s; /* Agregar una transición suave */
}

main {
  padding: 2em 0;
  background-color: #1f1b24;
}

main .content {
  width: 66.67%; /* Set width to 2/3 of the screen */
  margin: 0 auto; /* Center the content */
  padding: 0 2em; /* Additional padding for side margins */
}

h1,
h2 {
  color: #ffffff;
  margin-top: 1.5em; /* Increase the space above headings */
  margin-bottom: 1em; /* Increase the space below headings */
  text-align: center; /* Center the headings */
}

h2 {
  font-size: 2rem;
}

p,
li,
th,
td,
caption {
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  background-color: #2d2a32;
  color: #ffffff;
}

table,
th,
td {
  border: 1px solid #6200ea;
}

th,
td {
  padding: 0.5em;
  text-align: left;
}

caption {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form items */
  margin: 2em auto; /* Center the form itself */
  padding: 2.5em;
  border: 2px solid #bb86fc; /* Add a border to differentiate the form */
  border-radius: 8px; /* Add border radius for smoother corners */
  background-color: #2d2a32; /* Add a background color to the form */
}

form h2 {
  text-align: center; /* Center the form title */
  color: #bb86fc;
}

label {
  margin: 0.5em 0 0.2em;
  color: white;
  align-self: flex-start; /* Align labels to the start of the form */
}

input[type="text"],
input[type="email"] {
  padding: 0.5em;
  border: 2px solid #bb86fc;
  border-radius: 4px;
  background-color: #121212;
  color: #ffffff;
  width: 100%; /* Make the input fields take the full width of the form */
  margin-bottom: 1em; /* Add margin below inputs for spacing */
}

input[type="submit"] {
  margin-top: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
  width: 100%; /* Make the submit button take the full width of the form */
}

input[type="submit"]:hover {
  background-color: #018786;
}

footer {
  background-color: #6200ea;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}
